{
  "presets": [
    [
      "env", { "modules": false }],
      "react"
    ],
  "plugins": ["react-hot-loader/babel"],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          "react",
          "es2015",
          "stage-0"
        ]
      ]
    }
  }
}
