
body {
background-image: url(./cowbg.jpg);
background-size: cover;
background-attachment: fixed;
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: white;
  opacity: 0.6;

}

main {
  color: white;
}

.progress_msg {
  text-align: center;
}

.number__results {
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
}

.hidden {
  display: none;
}

#cuisine__field {
  width: 400px;
  height: 40px;
  font-size: 20px;
}

.select__boxes {
  width: 150px;
  text-align: left;
}

.row {
  margin: 15px 0 15px 50px;
}

.details p {
  font-weight: bold;
  margin: 5px 30px 5px 40px;
}

.details p span {
  font-weight: normal;
}

.image {
  margin-left: 20px;
}
